body {
  padding: 0;
  margin: 0;
  background-color: #858585; }

.wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: #000000; }

header {
  height: 255px;
  background-color: #000000; }
  header .topBar {
    height: 60px;
    background-color: #232323;
    padding: 0;
    margin: 0 auto;
    display: flex; }
    header .topBar .topBar_info {
      width: 50%;
      margin: 0 0 0 20px;
      padding-top: 20px;
      color: #676767;
      font-family: Verdana;
      font-size: 13pt; }
    header .topBar .search {
      width: 50%;
      margin-top: 18px;
      float: right; }
      header .topBar .search .search_field {
        width: 180px;
        height: 23px;
        border-radius: 5px;
        float: right;
        background: #3e3e3e;
        color: #c7ced6;
        border: none; }
      header .topBar .search .search_button {
        width: 70px;
        height: 25px;
        border-radius: 5px;
        float: right;
        background: #3e3e3e;
        color: #33d7ff;
        border: none;
        cursor: pointer;
        margin: 0 20px 0 15px;
        font-family: Georgia;
        font-size: 12pt;
        font-weight: 100; }
  header .logo {
    margin-top: 65px; }
    header .logo h1 {
      color: #ffffff;
      text-align: center;
      font-size: 36pt;
      font-family: Georgia;
      font-weight: 300;
      vertical-align: middle;
      margin-bottom: 0; }
    header .logo .h1_undertext {
      color: #858585;
      font-family: Georgia;
      font-size: 16pt;
      text-align: center;
      margin-top: 0; }

input::-webkit-input-placeholder {
  color: #c7ced6; }

.menu {
  background-color: #232323;
  height: 60px;
  border-top: #3f3f3f 1px solid;
  border-bottom: #3f3f3f 1px solid;
  overflow: hidden;
  clear: both; }
  .menu ul {
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left; }
    .menu ul li {
      padding-top: 22px;
      position: relative;
      left: -50%;
      float: left;
      margin: 0 10px;
      list-style-type: none;
      font-size: 13px;
      font-family: Georgia; }
      .menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 30px;
        cursor: pointer;
        color: #ffffff; }
      .menu ul li a:visited {
        color: #ffffff; }
      .menu ul li a:hover {
        color: #33d7ff; }

.slider {
  width: 940px;
  height: 360px;
  background: #333333;
  margin: 50px 20px 0 20px;
  padding: 0;
  border: 10px #000000 solid;
  outline: #3f3f3f 1px solid;
  position: relative; }
  .slider img {
    margin: 0 auto; }
  .slider .slider_description {
    width: 600px;
    height: 120px;
    background-color: #0f0f0f;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    color: #c2c2c2; }
    .slider .slider_description .slide_number {
      margin: 0 auto;
      margin-bottom: 25px;
      padding: 0;
      font-family: Georgia;
      font-size: 20px; }
    .slider .slider_description .slide_description {
      margin: 0 auto;
      padding: 0;
      font-family: Georgia;
      font-size: 13px; }
  .slider .slider_buttons {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px; }
    .slider .slider_buttons .arr_left {
      margin: 11px 0 0 7px;
      cursor: pointer; }
    .slider .slider_buttons .arr_right {
      cursor: pointer; }

.CTA {
  width: 960px;
  height: 260px;
  background-color: #000000;
  margin: 55px 20px 55px 20px;
  display: flex; }
  .CTA .CTA_text_block {
    width: 220px;
    height: 210px; }
    .CTA .CTA_text_block h3 {
      color: #666666;
      font-family: Georgia;
      font-size: 20px;
      margin-top: 0; }
    .CTA .CTA_text_block .CTA_text {
      color: #989898;
      font-family: Georgia;
      font-size: 13px; }
  .CTA .CTA_item {
    width: 220px;
    height: 210px;
    margin-left: 20px; }
    .CTA .CTA_item .CTA_img {
      width: 215px;
      height: 130px;
      border: 5px #000000 solid;
      outline: #3f3f3f 1px solid; }
    .CTA .CTA_item .CTA_item_text {
      color: #989898;
      font-family: Georgia;
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 15px; }
    .CTA .CTA_item a {
      font-family: Georgia;
      font-size: 13px;
      color: #33d7ff;
      margin: 0 auto;
      text-decoration: none; }

footer {
  width: 1000px;
  height: 325px;
  border-top: #3f3f3f 5px solid;
  background-color: #232323; }
  footer .footer_middle_wrapper {
    margin: 30px 20px 30px 20px;
    display: flex; }
    footer .footer_middle_wrapper .first_list {
      margin-right: 100px; }
      footer .footer_middle_wrapper .first_list h4 {
        margin-bottom: 25px;
        color: #666666;
        font-family: Georgia;
        font-size: 16px; }
      footer .footer_middle_wrapper .first_list ul {
        margin: 0 auto;
        padding: 0; }
      footer .footer_middle_wrapper .first_list li {
        list-style-type: none;
        color: #979797;
        font-family: Georgia;
        font-size: 13px;
        padding-bottom: 5px; }
        footer .footer_middle_wrapper .first_list li a {
          text-decoration: none; }
        footer .footer_middle_wrapper .first_list li a:visited {
          color: #979797; }
    footer .footer_middle_wrapper .second_list {
      margin-right: 150px; }
      footer .footer_middle_wrapper .second_list h4 {
        margin-bottom: 25px;
        color: #666666;
        font-family: Georgia;
        font-size: 16px; }
      footer .footer_middle_wrapper .second_list ul {
        margin: 0 auto;
        padding: 0; }
      footer .footer_middle_wrapper .second_list li {
        list-style-type: none;
        color: #979797;
        font-family: Georgia;
        font-size: 13px;
        padding-bottom: 5px; }
    footer .footer_middle_wrapper .feedback {
      border-left: 1px #3f3f3f solid;
      padding-left: 35px; }
      footer .footer_middle_wrapper .feedback h4 {
        margin-bottom: 25px;
        color: #666666;
        font-family: Georgia;
        font-size: 16px; }
      footer .footer_middle_wrapper .feedback .footer_img img {
        margin-right: 5px; }
        footer .footer_middle_wrapper .feedback .subscribe {
          display: flex; }
          footer .footer_middle_wrapper .feedback .subscribe .sign_up {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            background: #3e3e3e;
            color: #33d7ff;
            border: none;
            cursor: pointer;
            padding: 0; }
  footer .footer_bottom {
    border-top: #323232 1px solid;
    margin: 0 20px 20px 20px; }
    footer .footer_bottom .license {
      padding: 0;
      margin: 20px 0 20px 0;
      float: left;
      color: #979797;
      font-family: Georgia;
      font-size: 13px; }
    footer .footer_bottom .author {
      padding: 0;
      margin: 20px 0 20px 0;
      float: right;
      color: #979797;
      font-family: Georgia;
      font-size: 13px; }
      label{
        display: none;
      }
        input#id_name{
            width: 220px;
          height: 30px;
          border-radius: 5px;
          background: #3e3e3e;
          color: #989898;
          border: none;
          margin-right: 15px;
        }