﻿{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <title>pr4</title>
</head>
<body>
    <div class="wrapper">
            <header>
                <div class="topBar">
                    <div class="topBar_info">
                        Телефон:666-666-666 | email
                    </div>
                    <div class="search">
                            <a href="#"><button class="search_button" value="button">Клац</button></a>
                        <form>
                            <input class="search_field" type="text" placeholder="Подсказочка">
                        </form>
                        
                    </div>
                </div>
                <div class="logo">
                    <h1>THE DARKSIDE</h1>
                    <p class="h1_undertext">Of The Moon</p>
                </div>
                <div class="menu">
                        <ul>
                            <li>
                            <a href="#">HOMEPAGE</a>
                            </li>
                            <li>
                                <a href="#">STYLE DEMO</a>
                            </li>
                            <li>
                                <a href="#">FULL WIDTH</a>
                            </li>
                            <li>
                                <a href="#">DROPDOWN</a>
                            </li>
                            <li>
                                <a href="#">GALLERY</a>
                            </li>
                            <li>
                                <a href="#">PORTFOLIO</a>
                            </li>
                            <li>
                                <a href="#">LINK TEXT</a>
                            </li>
                            
                        </ul>
                    </div>	
                </header>
                <div class="slider">
                    <img src="{% static "./img/1_HFApLGK2Wa1vXJ7ud47vpg.jpeg"%}" alt="image1" width="940" height="360">
                    <div class="slider_description">
                        <p class="slide_number">
                            Слайд 1
                        </p>
                        <p class="slide_description">Красивая луна на синем фоне, которую перекрывает описание, в котором написано:
                             "Красивая луна на синем фоне, которую перекрывает описание, в котором написано: "...
                        </p>
                    </div>
                    <div class="slider_buttons">
                            <a href="#"><img class= "arr_left" src="{% static "./img/Leftarrow.png"%}" alt="left_arrow"></a>
                            <a href="#"><img class= "arr_right" src="{% static "./img/Rightarrow.png"%}" alt="right_arrow"></a>
                        </div>
                    </div>
                    <div class="CTA">
                        <div class="CTA_text_block">
                            <h3>Hvad er Lorem Ipsum?</h3>
                            <p class="CTA_text">
                              Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien.
                              Lorem Ipsum har været standard fyldtekst siden 1500-tallet.
                            </p>
                        </div>
                        <div class="CTA_item">
                            <img class="CTA_img" src="{% static "./img/cta1.jpg"%}" alt="CTA1">
                            <p class="CTA_item_text">Красивые розовые звезды(и немного синих звезд)</p>
                            <a href="#">Больше можно посмотреть здесь >></a>
                        </div>
                        <div class="CTA_item">
                                <img class="CTA_img" src="{% static "./img/cta2.jpg"%}" alt="CTA1">
                                <p class="CTA_item_text">Красивый вихрь какой-то космической материи</p>
                                <a href="#">Больше можно посмотреть здесь >></a>
                        </div>
                        <div class="CTA_item">
                                <img class="CTA_img" src="{% static "./img/cta3.jpg"%}" alt="CTA1">
                                <p class="CTA_item_text">Здоровое красивое космическое пятно</p>
                                <a href="#">Больше можно посмотреть здесь >></a>
                        </div>
                    </div>
                    <footer>
                        <div class="footer_middle_wrapper">
                            <div class="first_list">
                                <h4>Быстрые ссылки</h4>
                                <ul>
                                    <li>
                                        <a href="#">>>Хоумпэйдж</a>
                                    </li>
                                    <li>
                                        <a href="#">>>Контакт ас</a>
                                    </li>
                                    <li>
                                        <a href="#">>>Сайтмап</a>
                                    </li>
                                    <li>
                                        <a href="#">>>Приваси Полиси</a>
                                    </li>
                                    <li>
                                        <a href="#">>>Термс оф ас</a>
                                    </li>
                                    <li>
                                        <a href="#">>>Коруптинг Информатион</a>
                                    </li>
                                    <li>
                                        <a href="#">>>Вэбсайт Маттерс</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="second_list">
                                    <h4>Как же нас найти?</h4>
                                    <ul>
                                        <li>
                                            Адресочек первый
                                        </li>
                                        <li>
                                            Адресочек второй
                                        </li>
                                        <li>
                                            Город/город(ГОРОД)
                                        </li>
                                        <li>
                                            Посткод
                                        </li>
                                        <li>
                                            (Тут ничего нет)
                                        </li>
                                        <li>
                                            Телеф:666-666-666
                                        </li>
                                        <li>
                                            Email:email@email.com
                                        </li>
                                    </ul>
                                </div>
                                <div class="feedback">
                                    <h4>Свяжитесь с нами!</h4>
                                    <div class="footer_img">
                                        <a href="#"><img src="{% static "./img/in.png"%}"></a>
                                        <a href="#"><img src="{% static "./img/twitter.png"%}"></a>
                                        <a href="#"><img src="{% static "./img/pinter.png"%}"></a>
                                        <a href="#"><img src="{% static "./img/google.png"%}"></a>
                                        <a href="#"><img src="{% static "./img/rss.png"%}"></a>
                                    </div>
                                    <h4>Подписывайся для новых новостей!</h4>
                                    <div class="subscribe">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form }}
                                        <button class="sign_up" value="button">Сигн ап</button>
                                    </form>
                                    
                                    
                                </div>
                                </div>
                        </div>
                        <div class="footer_bottom">
                            <p class="license">Все права и лицензии соблюдены</p>
                            <p class="author">Павел Северин</p>
                        </div>
                    </footer>
        

</body>
</html>